[submodule "External/Colorful"]
	path = External/Colorful
	url = https://github.com/Lakr233/Colorful
[submodule "External/AuxiliaryExecute"]
	path = External/AuxiliaryExecute
	url = https://github.com/Lakr233/AuxiliaryExecute
[submodule "External/SymbolPicker"]
	path = External/SymbolPicker
	url = https://github.com/xnth97/SymbolPicker
[submodule "External/KeychainAccess"]
	path = External/KeychainAccess
	url = https://github.com/kishikawakatsumi/KeychainAccess
